<ion-header>
  <ion-navbar>
    <ion-title>EPI - CRUD PROJECT</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="openCustomerForm()">
              <ion-icon name="person-add"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let customer of customers">
          <ion-card>
              <ion-card-content>
                  <ion-item><ion-icon name="person"></ion-icon> {{customer.id}} - {{customer.name}}</ion-item>
                  <ion-item><ion-icon name="at"></ion-icon> {{customer.email}}</ion-item>
                  <ion-item><ion-icon name="phone-portrait"></ion-icon> {{customer.phone}}</ion-item>
                  <ion-item><ion-icon name="pin"></ion-icon> {{customer.address}} {{customer.city}}, {{customer.state}} {{customer.zipcode}}</ion-item>
                  <ion-buttons block>
                      <button ion-button icon-left (click)="openEditCustomerForm(customer)">
                          <ion-icon name="create"></ion-icon>
                          Edit
                      </button>
                      <button ion-button icon-left color="danger" (click)="presentConfirm(customer)">
                          <ion-icon name="remove"></ion-icon>
                          Remove
                      </button>
                  </ion-buttons>
              </ion-card-content>
          </ion-card>
      </ion-item>
  </ion-list>
</ion-content>